@font-face {
    font-family: "Avertas-Regular";
    src: url(../fonts/avertas/avertastd-regular-webfont.woff) format("woff");
}

@font-face {
    font-family: "Avertas-Bold";
    src: url(../fonts/avertas/avertastd-bold-webfont.woff) format("woff");
}

@font-face {
    font-family: "Avertas-SemiBold";
    src: url(../fonts/avertas/avertastd-semibold-webfont.woff) format("woff");
}

body {
    margin: 0;
    font-family: 'Avertas-Regular';
    min-width: 325px;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 3vmin;
    height: 3vmin;
    background: transparent;
    border-top: 3px solid #189eff;
    border-right: 3px solid #189eff;
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;
}

.arrow.left {
    left: 18px;
    -webkit-transform: translate3d(0, -50%, 0) rotate(-135deg);
    transform: translate3d(0, -50%, 0) rotate(-135deg);
    z-index: 1;
    width: 23px;
    height: 22px;
}

.arrow.right {
    right: 18px;
    -webkit-transform: translate3d(0, -50%, 0) rotate(45deg);
    transform: translate3d(0, -50%, 0) rotate(45deg);
    z-index: 1;
    width: 23px;
    height: 22px;
}

/*
.arrow:hover {
    border-color: orange;
    box-shadow: 0.5vmin -0.5vmin 0 white;
}
*/

.arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -60%) rotate(45deg);
    transform: translate(-40%, -60%) rotate(45deg);
    width: 200%;
    height: 200%;
    background-color: #ffffff80;
    padding: 20px 40px;
}

html {
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff
}

body {
    background-color: #fff;
    overflow-x: hidden;
    color: #444
}

body {
    -ms-word-wrap: break-word;
    word-wrap: break-word
}

body,
button,
input,
textarea {
    color: #43454b;
    font-family: 'Avertas-Regular', Rubik, "Source Sans Pro", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.618;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 400
}

body {
    background-color: #fff;
    overflow-x: hidden;
    color: #444
}

.col-half-offset {
    margin-left: 4.166666667%
}

.features .single-support {
    border-right: 1px solid #ddd;
    flex: 0 0 25%;
    margin: 30px 0px;
    padding: 0 25px;
}

.features .single-support:last-child {
    border-right: 0px;
}

@media only screen and (max-width: 1099px) {
    .features .single-support {
        flex: 0 0 50%;
    }
}

@media only screen and (max-width: 475px) {
    .features .single-support {
        flex: 0 0 100%;
    }
}

.features.single-support:first-child {
    border-left: 1px solid #ddd;
}

.support-icon i {
    color: #189eff;
    font-size: 60px;
}

.support-desc h6 {
    color: #363636;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.support-desc span {
    color: #363636;
    font-size: 12px;
    margin: 0;
    text-transform: capitalize;
}

.small-black {
    color: black;
    font-size: 11px;
}

.small-yellow {
    color: #faca51;
    font-size: 11px;
}

.small-text {
    font-size: 11px;
}

footer ul li {
    list-style: none;
}

/*@media (min-width: 1025px) {*/
.footer-bottom {
    background-color: rgb(0, 136, 205);
}

.footer-bottom p {
    color: #fff;
}

/*}*/

.copyright-text a {
    color: #e62e04;

}

.footer-top {
    padding-bottom: 20px;
}

.footer-title {
    color: black;
    font-size: 15px;
    /*    font-weight: 600;*/
    line-height: 34px;
    position: relative;
    text-transform: uppercase;
}

.footer-list li a {
    color: #212121;
    display: block;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    text-transform: capitalize;
    line-height: 2;
}

.footer-list li {
    line-height: 31px;
}

.footer-list li a:hover {
    color: #E62E04;
}

.footer-list li a:hover:before {
    opacity: 0;
}

.logo-footer {
    margin-bottom: 30px;
}

.footer-content p {
    font-size: 13px;
    line-height: 23px;
}

.footer-content h5 {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}

.social-footer-list a {
    color: #b2b2b1;
    display: inline-block;
    font-size: 22px;
    line-height: 30px;
}

.social-footer-list a:not(:last-child) {
    margin-right: 30px;
}

.social-footer-list a:hover {
    color: #E62E04;
}

.single-footer.style-change {
    padding-left: 40px;
}

.copyright-text.text-center > p {
    color: #fff;

    font-size: 14px;
}

.social-footer > li {
    display: inline-block;
}

.social-footer li a {
    padding: 0 5px;
    text-align: center;
}

.social-footer li a i {
    color: #212121;
    font-size: 28px;
    line-height: 1;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
}

.social-footer li a:hover i {
    color: #E62E04;
}

.footer-middle {
    padding-bottom: 15px;
}

.footer-middle .container-fluid > .row {
    padding-left: 80px;
}

.footer-middle img {
    display: inherit;
}

/* footer bottom css */
.footer-bottom-content p {
    color: #666;
    font-size: 14px;
}

.footer-bottom-content p a {
    color: #E62E04;
}

.footer-bottom-content p a:hover,
.tag-content a:hover {
    text-decoration: underline;
}

.footer-nav-list li {
    display: inline-block;
}

.footer-nav-list li a {
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    padding-left: 30px;
    text-transform: uppercase;
}

.footer-nav-list li a:hover,
.tag-content a:hover {
    color: #E62E04;
}

.footer-nav-list li:first-child a {
    padding-left: 0;
}

#scrollUp {
    background: rgba(0, 136, 205) none repeat scroll 0 0;
    bottom: 50px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    position: fixed;
    right: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
    z-index: 999;
}

#scrollUp:hover {
    background: #189eff;
}

#scrollUp i {
    font-size: 25px;
    line-height: 40px;
}

.footer-list li {
    text-transform: capitalize;
    transition: all 0.5s ease-in-out 0s;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

.newsletter {
    padding: 35px 0;
}

.news-desc {
    padding-top: 10px;
}

.news-desc h3 {
    color: black;
    font-size: 14px;
    /*    font-weight: 900;*/
    margin: 0 0 15px;
    line-height: 1;
}

.news-desc p {
    color: #757575;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}

.newsletter-box .subscribe {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    color: #777;
    display: block;
    font-size: 13px;
    height: 35px;
    padding: 0px 90px 0px 10px;
    width: 100%;
    text-transform: capitalize;
}

.newsletter-box {
    position: relative;
}

.newsletter-box .submit {
    background: #189eff none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    font-size: 11px;
    font-weight: 900;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    -webkit-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
    cursor: pointer;
}

.newsletter-box .submit:hover {
    background: #189eff;
}


.social-footer li a i {
    color: #212121;
    font-size: 28px;
    line-height: 1;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
}

.social-footer li a:hover i {
    color: #E62E04;
}

a {
    color: #2c2d33;
    text-decoration: none
}

a:focus,
a:hover {
    text-decoration: none;
    color: inherit;
    outline: 0
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus {
    outline: 0
}

ol,
ul {
    margin: 0 0 1em 3em;
    padding: 0;
}

/*21759*/
#content #primary {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width: 576px) {
    #content #primary {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width: 768px) {
    #content #primary {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width: 992px) {
    #content #primary {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width: 1200px) {
    #content #primary {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width: 1700px) {
    #content #primary {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
        order: 2
    }
}

@media (min-width: 1200px) and (max-width:1699px) {
    #content #primary {
        flex: 0 0 78.3333333333%;
        max-width: 78.3333333333%;
        order: 2
    }
}

#content #secondary {
    z-index: 10;
    order: 1;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width: 576px) {
    #content #secondary {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width: 768px) {
    #content #secondary {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width: 992px) {
    #content #secondary {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width: 1200px) {
    #content #secondary {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width: 1700px) {
    #content #secondary {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }
}

@media (min-width: 1200px) and (max-width:1699px) {
    #content #secondary {
        flex: 0 0 21.6666666667%;
        max-width: 21.6666666667%
    }
}

/*22094*/
.error404 #content #primary,
.full-width #content #primary,
.page-template-default #content #primary,
.page-template-template-homepage-v1 #content #primary,
.page-template-template-homepage-v10 #content #primary,
.page-template-template-homepage-v11 #content #primary,
.page-template-template-homepage-v12 #content #primary,
.page-template-template-homepage-v2 #content #primary,
.page-template-template-homepage-v3 #content #primary,
.page-template-template-homepage-v4 #content #primary,
.page-template-template-homepage-v7 #content #primary,
.page-template-template-homepage-v8 #content #primary,
.page-template-template-homepage-v9 #content #primary,
.page-template-template-landingpage-v1 #content #primary,
.page-template-template-landingpage-v2 #content #primary {
    order: 1
}

@media (min-width: 768px) {

    .error404 #content #primary,
    .full-width #content #primary,
    .page-template-default #content #primary,
    .page-template-template-homepage-v1 #content #primary,
    .page-template-template-homepage-v10 #content #primary,
    .page-template-template-homepage-v11 #content #primary,
    .page-template-template-homepage-v12 #content #primary,
    .page-template-template-homepage-v2 #content #primary,
    .page-template-template-homepage-v3 #content #primary,
    .page-template-template-homepage-v4 #content #primary,
    .page-template-template-homepage-v7 #content #primary,
    .page-template-template-homepage-v8 #content #primary,
    .page-template-template-homepage-v9 #content #primary,
    .page-template-template-landingpage-v1 #content #primary,
    .page-template-template-landingpage-v2 #content #primary {
        flex: 0 0 100%;
        max-width: 100%;
        left: auto
    }
}

.error404 #content #secondary,
.full-width #content #secondary,
.page-template-default #content #secondary,
.page-template-template-homepage-v1 #content #secondary,
.page-template-template-homepage-v10 #content #secondary,
.page-template-template-homepage-v11 #content #secondary,
.page-template-template-homepage-v12 #content #secondary,
.page-template-template-homepage-v2 #content #secondary,
.page-template-template-homepage-v3 #content #secondary,
.page-template-template-homepage-v4 #content #secondary,
.page-template-template-homepage-v7 #content #secondary,
.page-template-template-homepage-v8 #content #secondary,
.page-template-template-homepage-v9 #content #secondary,
.page-template-template-landingpage-v1 #content #secondary,
.page-template-template-landingpage-v2 #content #secondary {
    display: none
}

@media (min-width: 768px) {
    .page-template-template-page-centered-fullwidth #content #primary {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
        left: auto;
        margin: 0 auto
    }
}

/*22991*/
.site-main {
    /*    margin-bottom: 2.617924em*/
}

.page-template-template-page-centered-fullwidth #content #sidebar {
    display: none
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: 0
}

.form-control::-webkit-input-placeholder {
    color: #636c72;
    opacity: 1
}

.form-control::-moz-placeholder {
    color: #636c72;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #636c72;
    opacity: 1
}

.form-control::placeholder {
    color: #636c72;
    opacity: 1
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #eceeef;
    opacity: 1
}

.form-control:disabled {
    cursor: not-allowed
}



.input-group .form-control:active,
.input-group .form-control:focus,
.input-group .form-control:hover {
    z-index: 3
}



.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0
}

.form-control + .input-group-addon:not(:first-child) {
    border-left: 0
}

.input-text,
input[type=email],
input[type=password],
input[type=search],
input[type=text],
input[type=url],
textarea {
    padding: 9px;
    background-color: #fff;
    color: #444;
    outline: 0;
    border: 0;
    -webkit-appearance: none;
    border-radius: 3px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1em;
    border: 1px solid #ebebeb
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0
}

.input-group-addon,
.input-group-btn {
    white-space: nowrap;
    vertical-align: middle
}

.input-group-addon {
    padding: .45rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #464a4c;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem
}

.input-group-addon.form-control-sm,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .input-group-addon.btn {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem
}

.input-group-addon.form-control-lg,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .input-group-addon.btn {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem
}

.input-group-addon input[type=checkbox],
.input-group-addon input[type=radio] {
    margin-top: 0
}


.input-group-addon:not(:last-child) {
    border-right: 0
}

.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group > .btn,
.input-group-btn:not(:first-child) > .dropdown-toggle,
.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn,
.input-group-btn:not(:last-child) > .btn:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.form-control + .input-group-addon:not(:first-child) {
    border-left: 0
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap
}

.input-group-btn > .btn {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%
}

.input-group-btn > .btn + .btn {
    margin-left: -1px
}

.input-group-btn > .btn:active,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:hover {
    z-index: 3
}

.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group {
    margin-right: -1px
}

.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group {
    z-index: 2;
    margin-left: -1px
}

.input-group-btn:not(:first-child) > .btn-group:active,
.input-group-btn:not(:first-child) > .btn-group:focus,
.input-group-btn:not(:first-child) > .btn-group:hover,
.input-group-btn:not(:first-child) > .btn:active,
.input-group-btn:not(:first-child) > .btn:focus,
.input-group-btn:not(:first-child) > .btn:hover {
    z-index: 3
}

.input-text:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=url]:focus,
textarea:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: 0
}

ul {
    list-style: disc
}

.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

ul.nav {
    margin-left: 0
}

.highline-red {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.price_red {
    color: #ee2347;
}

.symbol {
    padding-left: 2px;
    display: inline-flex !important;
}

.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: auto;
    touch-action: auto;
}
