.content-header > .breadcrumb {
    top: 0px;
    background: none !important;
    padding-left: 0;
}
.select2-container--default .select2-selection--single {
    border-radius: unset !important;
}

.select2-dropdown {
    border-radius: unset !important;
}
.menu-bar {
    border-left: 1px solid #367fa9;
}
.navbar-custom-menu-left{
    float:left;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: -8px !important;
}
.select-fix {
    height: 28px !important;
}

.input-group-addon {
    padding: 6px 12px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    color: #555;
    text-align: center;
    background-color: #eee !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    margin-right:5px
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

.tag span{margin: 3px; background:#ccc; padding:3px;}
.tag img{cursor:pointer; width:15px}