<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bạn mua gì?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="img/icon.jpg">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="css/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="css/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="css/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">

    <link rel="stylesheet" href="css/product-categories.css">
    <!-- Modernizer js -->






























    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body class="kc-css-system">

    <!-- Main Wrapper Start Here -->
    <div class="wrapper">
        <!-- Banner Popup Start -->
        <div class="popup_banner">
            <span class="popup_off_banner">×</span>
            <div class="banner_popup_area" style="
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 50px;
    background: linear-gradient(to right, rgb(253, 246, 242) 40%, rgb(253, 246, 242) 50%, rgb(253, 246, 242) 60%);">
                <img src="img/banner/pop-banner.jpg" alt="">
            </div>
        </div>
        <!-- Banner Popup End -->

        <!-- Main Header Area Start Here -->
        <header id="masthead" class="site-header header-v2 new-header" style="background-image: none; ">


            <div class="col-full handheld-only">
                <div class="handheld-header">
                    <div class="row">
                        <nav id="handheld-navigation" class="handheld-navigation" aria-label="Handheld Navigation">
                            <button class="btn navbar-toggler" type="button"><a href="./new-index.html"><i class="lnr lnr-chevron-left"></i></a></button>


                        </nav>
                        <div class="site-branding">
                            <a href="https://banmuagi.online/" class="custom-logo-link" rel="home">
                                <p>Danh mục sản phẩm</p>
                            </a> </div>
                        <div class="handheld-header-links">
                            <ul class="columns-3">
                                <li class="my-account">
                                    <a href="https://banmuagi.online/my-account/" class="has-icon"><i class="lnr lnr-user"></i></a> </li>
                                <li class="wishlist">
                                    <a href="https://banmuagi.online/wishlist/" class="has-icon"><i class="lnr lnr-heart"></i><span class="count">0</span></a> </li>
                                <li class="compare">
                                    <a href="https://banmuagi.online/compare/" class="has-icon"><i class="lnr lnr-inbox"></i><span class="count">0</span></a> </li>
                            </ul>
                        </div>
                    </div><!-- /.row -->
                </div>
            </div>

        </header>

        <div class="container-fluid">
            <div class="row" style="background:white">
                <div class="col-lg col-md-6 col-6 pr-10">
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="#">
                                <img class="border-img" src="img/hotdeal/14.jpg" alt="single-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                    </div>
                </div>
                <div class="col-lg col-md-6 col-6 pl-10">
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="product.html">
                                <img class="border-img" src="img/hotdeal/16.jpg" alt="single-product">
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-lg col-md-6 col-6 pr-10">
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="product.html">
                                <img class="border-img" src="img/hotdeal/9.jpg" alt="single-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                    </div>
                </div>
                <div class="col-lg col-md-6 col-6 pl-10">
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="product.html">
                                <img class="border-img" src="img/hotdeal/11.jpg" alt="single-product">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-6 pr-10">
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="product.html">
                                <img class="border-img" src="img/hotdeal/13.jpg" alt="single-product">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-6 pl-10">
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="product.html">
                                <img class="border-img" src="img/hotdeal/11.jpg" alt="single-product">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Hot Deal Product Active End -->

        </div>
        <!-- Container End -->
    </div>

    <!-- jquery 3.2.1 -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="js/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="js/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="js/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="js/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="js/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="js/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="js/main.js"></script>
</body>

</html>
